

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center container border rounded border-5 mt-3 p-5">
    
        <h1 class="display-4 ">ANÁLISE FINANCEIRA</h1>

        <div class=" row d-flex justify-content-around mt-5 ">

            <div class="card col-5 p-0 border-2" style="height:25vh;">
                <h3 class="card-header bg-danger text-light">
                    DESPESAS TOTAIS
                </h3>
            </div>
           
            <div class="card col-5 p-0 border-2"  style="height:25vh;">
                <h3 class="card-header bg-success text-light">
                    RECEITAS TOTAIS
                </h3>
            </div>
        </div>
</div>
